@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.olvidar-contraseña{
	margin-left:60%;
	font-size: 12px;
	letter-spacing: 0.5px;
}



.buttonl{
	border-radius: 15px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	
}

.button2{
	border-radius: 15px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	width: 125px;
	height: 43px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	justify-content: center;
	margin: 5px;
}

.buttonl:active {
	transform: scale(0.95);
}

.buttonl:focus {
	outline: none;
}

.buttonl .ghost {
	background-color: #ffffff;
	border-color: #FFFFFF;
	color: #FF416C;
}

.button2:active {
	transform: scale(0.95);
}

.button2:focus {
	outline: none;
}

.button2 .ghost {
	background-color: #ffffff;
	border-color: #FFFFFF;
	color: #FF416C;
}

.form_login {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input_login {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container5 {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(102, 1, 1, 0.25), 
			0 10px 10px rgba(102, 1, 1, 0.25);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 50;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(80%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.Texto {
	align-items: center;
	justify-content: center;
	margin-top: 210px;
	text-align: center;
	margin-left: 30px;

}

.Texto h1{
	font-size: 60px;
}

.Texto h3{
	font-size: 30px;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;

}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #0f0004;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #000000;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	background-color: #ffffff;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}